@import "tailwindcss";

@theme {
  --color-background: #0D1B2A;
  --color-destaquePrincipal: #1B6CA8;
  --color-destaqueSecundario: #4FC3F7;
  --color-textoPrimario: #B0BEC5;
  --color-acao: #00BCD4;
  --color-detalhes: #ECEFF1;
}